* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideIn ease-in-out;
  animation-fill-mode: forwards;
  animation-timeline: scroll(20% 80%);

  .logo {
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;

    .nav-item {
      --inset-dropdown: 40px;
      position: relative;
      display: flex;
      gap: 6px;
      &:hover .arrow {
        transform: rotateZ(270deg);
      }
      &:hover .dropdown {
        border: solid;
        width: 100px;
        height: 100px;
        pointer-events: all;

        visibility: visible;
        opacity: 1;
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
.dropdown::before {
  content: "";
  position: absolute;
  top: calc(0% - var(--inset-dropdown));
  left: 0;
  height: var(--inset-dropdown);
  width: 100%;
}

.dropdown {
  display: inline-block;
  position: absolute;
  opacity: 0;
  visibility: none;
  top: var(--inset-dropdown);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.nav-item .arrow {
  transform: rotateZ(90deg);
  transition: transform 0.3s ease;
}
@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    color: #0056b3;
  }

  &:active {
    scale: 0.8;
  }
}
