* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    height: 200vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideIn ease-in-out;
    animation-fill-mode: forwards;
    animation-timeline: scroll(20% 80%);


    .logo {
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }


    .nav-links {
        list-style: none;
        display: flex;
        gap: 1rem;

        .nav-item {
            position: relative;
            display: flex;
            flex-direction: column;

            &:hover .dropdown-menu {
                border: solid;
                position: absolute;
                width: 100px;
                height: 100px;
                top: 40px;
                display: flex !important;
            }

        }
    }
}

.hidden {
    display: none !important;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;

    &:hover {
        color: #0056b3;
    }

    &:active {
        scale: 0.8;
    }
}